<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resource/css/sing-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300;500;600;700&display=swap" rel="stylesheet">
    <title>Sing up page</title>
</head>
<body>
    <div id="margen">
      <div class="container">
        <form method="post" action="sign-up">
          <h1 id="sing-up">SING-UP</h1>
          <label for="username">Name</label>
          <input type="text" id="name" name="name" placeholder="write here...">

          <label for="username">Nickname</label>
          <input type="text" id="nickname" name="nickname" placeholder="write here...">

          <label for="username">Email</label>
          <input type="email" id="email" name="email" placeholder="write here...">
        
          <label for="password">Password</label>
          <input type="password" id="password" name="password">

          <label for="password">Repeat Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword">
        
          <button type="submit">sing-up</button>
          
          <div id="extra">
              <a href="/">log-in</a>
              <P id="forgot">passwd?</P>
              
          </div>
        </form>
      </div>
    </div>
    <img id="png" src="resource/css/img/logoCC.png" alt="">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%if(typeof alert != "undefined"){ %>
        <script>
            Swal.fire({
                title:'<%= alertTitle%>',
                text:'<%= alertMessage%>',
                icon:'<%= alertIcon%>',
                showConfirmButton:<%= showConfirmButton%>,
                timer:<%= time%>
            }).then(()=>{
                window.location='/<%= ruta%>'
            })
        </script>
    <% } %>
  </body>

</html>